.image{
    /* max-height: 200px; */
    width: 100%;
    display: flex;
    transition:"transform 2s ease-in-out";
}
.image img{
    min-width: 100%;
    max-width: 100%;
}
.arrow{
    position: absolute;
    top:40%;
    z-index:1000;
}
.cancelIcon{
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color:red;
}