.editProfile{
    width: 60%;
    padding: 30px;
}
.profilePicture{
    background-color: grey;
    height: 200px;
    width: 100%;
    position: relative;

}
.profilePicture .avatar{
    position: absolute;
    left:30px;
    bottom: -75px;
    z-index: 100;
}
.mainArea{
    height: 300px ;
}
.inputFields{
    width: 60% ;
    margin-left: 30px;

}
.textField{
    width: 100% !important;
   

}
.textField>label{
    font-size: 25px !important;
    font-weight: 700 !important; 
}
.textField>div{
    font-size: 30px !important;
}
.saveButton{
    width:130px !important;
    /* position: absolute !important; */
    /* right: 20px !important; */
    /* bottom: -60px !important; */
    margin-top: 30px !important;
    background-color: yellowgreen !important;
    color: white !important;
    border-style: none!important;
    border: 2px solid white !important;
    border-radius: 40px !important;
    text-align: center !important;
    box-sizing: border-box !important;
}
.saveButton:hover{
    background-color: rgba(153, 205, 50, 0.555) !important;
}
.addButton{
    position: absolute !important;
    left: 30px !important;
    bottom: -75px !important;
    z-index: 200 !important;
    border: 4px solid white !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 150px;
    box-sizing: border-box;
    width: 150px;
    border-radius: 50% !important;
    background: linear-gradient(45deg, yellowgreen, transparent);
}